.header {
    grid-area: header;
    background-color: rgba(177, 80, 35, 0.781);
}
  
.header img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: white;
}