.descriptionBlock {
    padding: 10px;
}

.screenImg {
    height: 200px;
    width: 500px;
}

.blockAboutJob img {
    width: 30px;
    padding-left: 5px;
}

.photoUser {
    width: 200px;
}

.nameUser {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
    color: rebeccapurple;
}